.logout-btn {
  background-color: #ff4757;
  color: white;
  border: 2px solid #ff6b81;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  box-shadow: 0 4px 0px #b33939;
}

.logout-btn:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0px #b33939;
}

.logout-btn .icon {
  font-size: 1.2rem;
}
